*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/buildSrc/build/
/features/authorization/build/
/features/authorization/build/intermediates/javac/debug/classes/
/features/detailinfo/build/
/features/detailinfo/build/intermediates/javac/debug/classes/
/features/repositorieslist/build/
/features/repositorieslist/build/intermediates/javac/debug/classes/
/features/splash/build/
/features/splash/build/intermediates/javac/debug/classes/
/shared/session/build/
/shared/session/build/intermediates/javac/debug/classes/